In [26]:
import pandas as pd

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

对于

In [27]:
group=[1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]
value = [0.236,0.238,0.248,0.245,0.243,0.257,0.253,0.255,0.254,0.261,0.258,0.264,
        0.259,0.267,0.262]

test = pd.DataFrame({'A':group,'value':value})
test

    A  value
0   1  0.236
1   1  0.238
2   1  0.248
3   1  0.245
4   1  0.243
5   2  0.257
6   2  0.253
7   2  0.255
8   2  0.254
9   2  0.261
10  3  0.258
11  3  0.264
12  3  0.259
13  3  0.267
14  3  0.262

In [28]:
model = ols('value~C(A)',test).fit()

In [29]:
anova_lm(model)

            df    sum_sq   mean_sq          F    PR(>F)
C(A)       2.0  0.001053  0.000527  32.916667  0.000013
Residual  12.0  0.000192  0.000016        NaN       NaN

F值计算 
对于给定的$F(n1,n2)$
若要计算F比的值则需要使用
`f.cdf(x,n1,n2)`来求得给定某个x，在自由度为n1,n2的F分布下的累计概率，
若要计算分位数

In [31]:
from scipy.stats import f

In [44]:
# 计算x，下的累计概率
from scipy.stats import f 
f.cdf(3.89,2,12),f.cdf(32.92,2,12)

(0.9501425855505353, 0.999986576353319)

In [61]:
#计算已知F值所对应的pvalue
f.sf(32.92,2,12)

1.3423646680954998e-05

In [60]:
#f.ppf(a,n1,n2)求累计概率为a时的F值
print(f.ppf(0.95,2,12))
# 那么求上分位数为a时的F值
a = 0.05
va = f.ppf(1-a,2,12)
print('F_{}(n1,n2) = {}'.format(a,va))

3.8852938346523933
F_0.05(n1,n2) = 3.8852938346523933

In [51]:
help(f.ppf)

Help on method ppf in module scipy.stats._distn_infrastructure:

ppf(q, *args, **kwds) method of scipy.stats._continuous_distns.f_gen instance
    Percent point function (inverse of `cdf`) at q of the given RV.

    Parameters
    ----------
    q : array_like
        lower tail probability
    arg1, arg2, arg3,... : array_like
        The shape parameter(s) for the distribution (see docstring of the
        instance object for more information)
    loc : array_like, optional
        location parameter (default=0)
    scale : array_like, optional
        scale parameter (default=1)

    Returns
    -------
    x : array_like
        quantile corresponding to the lower tail probability q.